.page {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .page {
    padding-top: 16px;
  }
}
