.cards__item {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  row-gap: 54px;
  column-gap: 54px;
}

@media screen and (max-width: 750px) {
  .cards__item {
    display:flex;
    flex-direction: column;
    gap: 32px;
  }
}
