.intro {
  margin: 0 442px 0 148px;
}

@media screen and (max-width: 1200px) {
  .intro {
    margin-left: 48px;
    margin-right: 286px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
  }
}
